.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  object-fit: cover;
  width: 100%;
  transform: translateX(100);
  transition: 0.2s;
}

.noactive {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transform: translateX(100);
  transition: 0.2s;
}
